.head-container {
	background-image: url(../img/Creamea_map.png);
	min-height: 480px;
	text-align: center;

	&__top {
		@include container(620px)
		font-family: "Gilroy-Medium", serif;
		font-size: 30px;
		color: $white;
		line-height: 48px;
		letter-spacing: 5px;
		text-transform: uppercase;
	}
	&__title {
		font-size: 65px;
		font-family: "Gilroy-Medium", serif;
		color: $yellow;
		line-height: 75px;
		margin: 0;
		padding: 0;
		padding-top: 40px;
		letter-spacing: 10px;
		text-transform: uppercase;
		text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
	}
	&__bottomline {
		@include container(90px)
		margin-top: 60px;
		margin-bottom: 60px;
		height: 3px;
		background-color: $yellow;
	}
	&__button {
		@include container(210px)
		color: $yellow;
		font-family: "Gilroy-Medium", serif;
		font-size: 16px;
		transition: all .25s;
		cursor: pointer;
		height: 65px;
		line-height: 60px;
		text-transform: uppercase;
		letter-spacing: 4px;
		position: relative;
		border: 2px solid $yellow;
		border-radius: 50px;
		overflow: hidden;
		transition: all .25s;
		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-color: $yellow;
			transform: scaleY(0);
			transition: all .25s;
			z-index: -1;
            border-radius: 50px;
		}
		&:hover {
			color: #000;
            background-color: $yellow;
			&::after {
				transform: scaleY(1);
			}
		}
	}
}