.scroll-bottom {

	padding-top: 40px;
	padding-bottom: 60px;
	text-align: center;
	@include container(200px)

	&__wrap {
		display: inline-block;
		position: relative;
		cursor: pointer;
		animation: scroll-bottom  1s infinite ease-in-out;
	}
	&__text {
		color: $white;
		text-transform: uppercase;
		font-size: 11px;
		font-family: "Gilroy-Medium", serif;
		letter-spacing: 4px;
		padding-top: 10px;
	}
}
@keyframes scroll-bottom {
	0% {
		top: 0;
	}
	50% {
		top: 5px;
	}
	100% {
		top: 0;
	}
}
@media screen and (max-width: 1000px) {
	.scroll-bottom {
		display: none;
	}
}