header.head.section_image
		.section_darken
			.head__content
				.head__topline
					.logo
						img(src="img/logo.png" class="logo__img" alt="logo")
						span.logo__text МОНТАЖ СТРОЙ СЕРВИС
					.phone.phone_head 
						img(src="img/icon_phone.png", alt="phone" class="phone__icon")
						.phone__text +7 978
							span.phone__text_yellow 335 55 55
						.phone__buttonwrap 
							.phone__button.modal-open Заказать звонок
				.head__center
					.head-container.section_image
						.head-container__top ПРОИЗВОДИМ, ПРОДАЕМ, ДОСТАВЛЯЕМ и УСТАНАВЛИВАЕМ
						h1.head-container__title Еврозаборы по<br/>всему крыму
						.head-container__bottomline
						.head-container__button.modal-open Заказать
				.head__bottom
					.scroll-bottom
						.scroll-bottom__wrap
							img(src="img/icon_scroll.png", alt="scroll" class="scroll-bottom__img")
							.scroll-bottom__text Листай ниже

							
			.head__form
				.form-head
					.form-head__left
						.phone__text.phone__text_dark +7 978
							span.phone__text_yellow.phone__text_dark 335 55 55
						.phone__freecons бесплатная консультация	
					.form-head__right
						input(type="tel" class="form-head__input" placeholder="+7")
						.form-head__submit.modal-open Заказать звонок