.shipping.section_image
	img(src="img/map.png", alt="map").shipping__imgmap
	.shipping__wrapper.shipping_wrapper__left
		.shipping__item.shipping__item_left
			.shipping__title
				img(src="img/icon_pays.png", alt="Оплата" class="shipping__img")
				h3.shipping__titletext Цена
				.shipping__props (тонна/км)
			.shipping__content
				.shipping__wrap
					.shipping__left 2 тонны
					.shipping__right 15 000 &#8381;
				.shipping__wrap
					.shipping__left 3 тонны
					.shipping__right 17 000 &#8381;
				.shipping__wrap
					.shipping__left 5 тонны
					.shipping__right 19 000 &#8381;
				.shipping__wrap
					.shipping__left 12 тонны
					.shipping__right 38 000 &#8381;
				.shipping__wrap
					.shipping__left 25 тонны
					.shipping__right 78 000 &#8381;
	.shipping__wrapper.shipping__wrapper_right
		.shipping__item.shipping__item_big.shipping__item_right
			.shipping__title
				img(src="img/icon_distance.png", alt="Оплата" class="shipping__img")
				h3.shipping__titletext РАССТОЯНИЕ
				.shipping__props (км)
			.shipping__content
				.shipping__wrap
					.shipping__left до Симферополя
					.shipping__right 80 км /   2  час
				.shipping__wrap
					.shipping__left до Бахчисарая
					.shipping__right 48 км /   1  час 
				.shipping__wrap
					.shipping__left до Евпатории
					.shipping__right 114 км / 2,5  час
				.shipping__wrap
					.shipping__left до Керчи
					.shipping__right 305 км / 5  час 
				.shipping__wrap
					.shipping__left до Ялты
					.shipping__right 85 км /  1,5  час

	.shipping__wrapper.shipping_wrapper__left
		.shipping__item.shipping__item_left.shipping__item_big.shipping__item_last
			.shipping__title
				img(src="img/icon_work.png", alt="Оплата" class="shipping__img")
				h3.shipping__titletext УСТАНОВКА
				.shipping__props (м/руб)
			.shipping__content
				.shipping__wrap
					.shipping__left 2 тонны
					.shipping__right 15 000 &#8381;
				.shipping__wrap
					.shipping__left 3 тонны
					.shipping__right 17 000 &#8381;
				.shipping__wrap
					.shipping__left 5 тонны
					.shipping__right 19 000 &#8381;
				.shipping__wrap
					.shipping__left 12 тонны
					.shipping__right 38 000 &#8381;
				.shipping__wrap
					.shipping__left 25 тонны
					.shipping__right 78 000 &#8381;
.shipping__buttonwrap
	.shipping__button.button.button_yellow.button__shadow.button_big РАССЧИТАТЬ РАССТОЯНИЕ				