mixin priceitem 
	.price__item
		.price__wrap
			h3.price__title комплект<br/>еврозабора №1
			img(src="img/price_item.jpg", alt="Фото1" class="price__img")
			.price__description Описание
			.price__descitem 3 Секции
			.price__descitem 0,5х2 м
			.price__descitem Столб 2,2 м
			.price__infowrap
				.price__infoitem
					img(src="img/icon_Guarantee.png", alt="Гарантия" class="price__infoimg")
					.price__infotext Гарантия
				.price__infoitem
					img(src="img/icon_Self_catering.png", alt="Самовывоз" class="price__infoimg")
					.price__infotext Самовывоз	
				.price__infoitem
					img(src="img/icon_delivery.png", alt="Доставка" class="price__infoimg")
					.price__infotext Доставка
			.price__button.modal-open Заказать

