.top-quality
	.top-quality__item
		.top-quality__number 01
		img(src="img/icon3.png", alt="123" class="top-quality__img")
		.top-quality__text срок выдержки по технологии
	.top-quality__item
		.top-quality__number 02
		img(src="img/icon4-.png", alt="123" class="top-quality__img")
		.top-quality__text КОНТРОЛЬ ВЛАЖНОСТИ И ТЕМПЕРАТУРЫ
	.top-quality__item
		.top-quality__number 03
		img(src="img/icon5-.png", alt="123" class="top-quality__img")
		.top-quality__text ИСПОЛЬЗУЕМ ТОЛЬКО ЦЕМЕНТ 500М
	.top-quality__item
		.top-quality__number 04
		img(src="img/icon6-.png", alt="123" class="top-quality__img")
		.top-quality__text УСИЛЕННОЕ АРМИРОВАНИЕ
.quality-nav
	.quality-nav__item.quality-nav__item_first(data-qualitytab="video") ВИДЕО ПРОИЗВОДСТВА	
	.quality-nav__item.quality-nav__item_second.active(data-qualitytab="photo") ФОТО ПРОИЗВОДСТВА
.quality-tabs
	.quality-tabs__tab.quality-tabs__tab_video
			<iframe class="quality-tabs__item_video"  src="https://www.youtube.com/embed/bW43Q0ur6ZM"  allowfullscreen></iframe>
	.quality-tabs__tab.quality-tabs__tab_photo.active
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")
		a(href="http://lorempixel.com/1000/800/").quality-tabs__item.quality-tabs__item_photo
			img(src="http://lorempixel.com/1000/800/", alt="123" class="quality-tabs__img")