.reviews
	.reviews-top
		.reviews-top__people.active#slide-button1
			img(src="http://lorempixel.com/200/200/" alt="name" class="reviews-top__avatar")
			.reviews-top__text
				.reviews-top__name ОЛЬГА УСАЧЕВА
				.reviews-top__company гостиница “ярд”
		.reviews-top__people#slide-button2
			img(src="http://lorempixel.com/200/200/" alt="name" class="reviews-top__avatar")
			.reviews-top__text
				.reviews-top__name ОЛЬГА УСАЧЕВА
				.reviews-top__company гостиница “ярд”
		.reviews-top__people#slide-button3
			img(src="http://lorempixel.com/200/200/" alt="name" class="reviews-top__avatar")
			.reviews-top__text
				.reviews-top__name ОЛЬГА УСАЧЕВА
				.reviews-top__company гостиница “ярд”
		.reviews-top__people#slide-button4
			img(src="http://lorempixel.com/200/200/" alt="name" class="reviews-top__avatar")
			.reviews-top__text
				.reviews-top__name ОЛЬГА УСАЧЕВА
				.reviews-top__company гостиница “ярд”
		.reviews-top__people#slide-button5
			img(src="http://lorempixel.com/200/200/" alt="name" class="reviews-top__avatar")
			.reviews-top__text
				.reviews-top__name ОЛЬГА УСАЧЕВА
				.reviews-top__company гостиница “ярд”
	.reviews-center
		.reviews-center__viewport
			.reviews-center__wrapper
				.reviews-center__item
					.reviews-center__video
						<iframe class="reviews-center__film"  src="https://www.youtube.com/embed/bW43Q0ur6ZM"  allowfullscreen></iframe>
					.reviews-center__photo
						img(src="http://lorempixel.com/800/800/" alt="name" class="reviews-center__img")
				.reviews-center__item
					.reviews-center__video
						<iframe class="reviews-center__film"  src="https://www.youtube.com/embed/bW43Q0ur6ZM"  allowfullscreen></iframe>
					.reviews-center__photo
						img(src="http://lorempixel.com/800/800/" alt="name" class="reviews-center__img")
				.reviews-center__item
					.reviews-center__video
						<iframe class="reviews-center__film"  src="https://www.youtube.com/embed/bW43Q0ur6ZM"  allowfullscreen></iframe>
					.reviews-center__photo
						img(src="http://lorempixel.com/800/800/" alt="name" class="reviews-center__img")
				.reviews-center__item
					.reviews-center__video
						<iframe class="reviews-center__film"  src="https://www.youtube.com/embed/bW43Q0ur6ZM"  allowfullscreen></iframe>
					.reviews-center__photo
						img(src="http://lorempixel.com/800/800/" alt="name" class="reviews-center__img")
				.reviews-center__item
					.reviews-center__video
						<iframe class="reviews-center__film"  src="https://www.youtube.com/embed/bW43Q0ur6ZM"  allowfullscreen></iframe>
					.reviews-center__photo
						img(src="http://lorempixel.com/800/800/" alt="name" class="reviews-center__img")
	.head__form
		.form-head
			.form-head__left
				a(href="tel:+79780556614").phone__text.phone__text_dark +7 978
					span.phone__text_yellow.phone__text_dark 335 55 55
				.phone__freecons бесплатная консультация	
			.form-head__right
				.form-head__grey Адрес
				.form-head__adress фиолентовское шоссе, 35б, корпус 5