.shipping {
	@include container(1366px)
	background-image: url(../img/map.png);
	background-size: auto;
	@include clearfix;
	&__imgmap {
		display: none;
	}
	&__wrapper {
		width: 49%;
		display: inline-block;
		&_left {
			float: left;
		}
		&_right {
			float: right;
		}
	}
	&__item {
		max-width: 228px;
		width: 100%;
		text-align: center;
		padding-bottom: 200px;
		&_big {
			max-width: 300px;
		}
		&_left {
			float: left;
		}
		&_right {
			float: right;
		}
		&_last {
			padding-bottom: 0;
		}
	}
	&__img {
		vertical-align: middle;
	}
	&__titletext {
		display: inline-block;
		vertical-align: middle;
		font-size: 30px;
		padding-left: 15px;
		font-family: "Gilroy-Semibold", serif;
		letter-spacing: 3px;
		text-transform: uppercase;
	}
	&__props {
		padding: 10px 0;
		color: #959595;
		font-size: 12px;
		font-family: "Gilroy-Regular", serif;
		letter-spacing: 3px;
	}
	&__content {
		display: table;
		width: 100%;
	}
	&__wrap {
		display: table-row;
		padding-bottom: 5px;
	}
	&__left {
		display: table-cell;
		color: #959595;
		font-size: 14px;
		font-family: "Mediator-Regular",serif;
	}
	&__right {
		display: table-cell;
		font-size: 14px;
		color: #3e3e3e;
		font-family: "Mediator-Regular",serif;
		font-weight: bold;
	}
	&__buttonwrap {
		padding-top: 100px;
		text-align: center;
	}
}
@media screen and (max-width: 1200px) {
	.shipping {
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width: 1000px) {
	.shipping {
		background-image: none;
		text-align: center;
		&__imgmap{
			display: inline-block;
			width: 100%;
			height: auto;
			margin-bottom: 30px;
		}
		&__wrapper {
			width: 32%;
		}
		&__item {
			&_big {
				padding-bottom: 30px;
			}
			&_left {
				padding-bottom: 30px;
			}
		}
		&__img {
			display: none;
		}
		&__buttonwrap {
			padding-top: 30px;
		}
	}
}
@media screen and (max-width: 800px) {
	.shipping {
		&__wrapper  {
			width: 100%;
		}
		&__img {
			display: inline-block;
		}
		&__item {
			float: none;
			width: 100%;
			max-width: 100%;
			padding-bottom: 50px;
            &_last {
                padding-bottom: 30px;
            }
		}
        &__buttonwrap {
            padding-left: 20px;
            padding-right: 20px;
        }
	}
}