@media screen and (max-width: 768px) {
    .quality-nav__item {
        span {
            display: none;
        }
    }
    .head__content {
        min-height: 100%;
    }
    .head__center {
        padding-top: 10px;
    }
	.logo {
		float: none;
		text-align: center;
		&__text {
			text-align: left;
		}
	}

	.phone {
		float: none;
		text-align: center;
		&_head {
			padding-top: 30px;
		}
		&__buttonwrap {
			display: none;
		}
	}

	.head-container {
		min-height: 100%;
		&__top {
			font-size: 20px;
			font-weight: bold;
			line-height: 40px;
			padding-top: 0px;
		}
		&__title {
			font-size: 35px;
			line-height: 70px;
			letter-spacing: 2px;
			padding-top: 10px;
		}
        &__bottomline {
            margin-top: 10px;
            margin-bottom: 20px;
        }
	}
	.phone {
		&__freecons {
			display: block;
			padding-top: 15px;
		}
	}

	.form-head {
		&__input {
			margin: 0 auto;
            display: block;
            padding-left: 50px;
		}
		&__submit {
			margin-top: 15px;
		}
	}

	.section_one {
		padding-top: 150px;
	}

	.price {
		&__item {
			width: 100%;
		}
	}

	.advantages {
		&__item {
			width: 100%;
		}
        &__wrap {
            min-height: 100%;
        }
	}

	.title {
		font-size: 22px;
	}

	.top-quality {
		&__item {
			width: 100%;
		}
	}
	.quality-nav {
		&__item {
			width: 54%;
			&_first {
				left: 20px;
			}
			&_second {
				right: 20px;
			}
			&.active {
				transform: translateY(-50%) scale(1);
			}
		}
	}

	.quality-tabs__item_photo {
		width: 100%;
		padding-bottom: 0;
		margin-bottom: 30px;
	}

	.reviews-top {
		max-width: 700px;
		padding-left: 20px;
		padding-right: 20px;
		&__avatar {
			width: 100%;
			height: auto;
		}
		&__text {
			display: none;
		}
		&__people {
			position: static;
		}
	}

	.reviews-center__photo {
		width: 100%;
	}
	.reviews-center__video {
		width: 100%;
	}
	.footer-callback__form {
		flex-wrap: wrap;
	}
	.footer-callback__formitem {
		width: 100%;
		padding-bottom: 40px;
	}
	.footer-callback__title {
		padding-left: 0;
		padding-top: 20px;
	}
	.google-map {
		height: 1050px;     
	}
	.price__wrap {
		width: 100%;
	}
    .price__img {
        display: block;
        margin: 0 auto;
    }
    .price__title {
        padding-bottom: 15px;
    }
    .head-container {
		background-image: none;
	}
    .price__description {
        padding-top: 15px;
    }
    .price__descitem {
        display: inline-block;
        width: 32%;
    }
    .advantages__number {
        top: 50px;
    }
    .top-quality__text {
        padding-top: 0px;
    }
    .price__wrap {
        padding-bottom: 40px;
    }
}
@media screen and (max-width: 450px) {
	.reviews-top__text {
		opacity: 0;
		width: 0;
	}
	.page {
		overflow-x: hidden;
	}
	.phone__text {
		font-size: 20px;
	}
	.phone__text_yellow {
		font-size: 28px;
	}
	.advantages__item {
		padding: 20px 10px;
        padding-bottom: 40px;
	}
	.advantages__wrap {
		&::before {
			width: 30%;
		}
	}
	.footer-callback {
		padding-bottom: 20px;
	}
	
	.head-container__title {
		line-height: 50px;
	}
	.head-container__bottomline {
		margin-top: 40px;
		margin-bottom: 40px;
	}
	.section_one {
		padding-top: 180px;
	}
    .price__descitem {
        width: 100%;
    }
}