.title {
	text-align: center;
	font-size: 36px;
	margin: 0;
	padding-top: 90px;
	padding-bottom: 60px;
	font-family: "Gilroy-Extrabold" , serif;
	letter-spacing: 5px;
	text-transform: uppercase;
	&_left {
		color: #c3c3c3;
	}
	&_center {
		color: $yellow;
		padding-left: 15px;
		padding-right: 15px;
	}
	&_right {

	}
	&_dark {
		color: #000;
	}
	&_white {
		color: #fff;
	}
}