.quality-tabs {
	padding-top: 70px;
	@include container(1250px)
	&__tab {
		transition: all .25s;
		opacity: 0;
		display: none;
		&.active {
			opacity: 1;
			flex-wrap: wrap;
			display: flex;
			justify-content: space-between;
		}
	}
	&__item {
		&_photo {
			width: 21%;
			padding-bottom: 30px;
		}
		&_video {
			width: 100%;
			height: 700px;
			border: none;
		}
	}
	&__img {
		width: 100%;
		height: auto;
		cursor: zoom-in;
	}
}